<div class="container dashboard">
    {{>dashboard_nav}}

    <div class="todo__container">
        
        <label id="user" hidden="hidden">{{user}}</label>
        
        <!-- NY TODOLISTA -->
        <div class="todo__list-container" style="box-shadow: 3px 3px 20px  #fff">
            
            <div class="todo__title" placeholder="Beskrivning" contenteditable spellcheck="false">Skapa ny lista</div>
 
            <ul class="todo__list">
                <li class="todo__item">
                    <input type="checkbox" class="todo__item-check-new">
                    <div class="todo__item-description todo__description-new empty" placeholder="Beskrivning" contenteditable spellcheck="false">
                        {{this.text}}
                    </div>
                    <select class="todo__assignedTo">
                        <option value="">Ej tilldelad </option>
                        {{#each users}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>
                    <span class="fa fa-trash todo__item-delete"></span>
                </li>
            </ul>

            <button class="button-primary button-primary--todo" id="todo__add"> <span class="fa fa-plus"></span> Skapa</button>
        </div>

        
        <!-- EXISTERANDE LISTOR -->
        {{#each lists}}
            <div class="todo__list-container">
                <div class="todo__head">
                    <label class="id" hidden="hidden">{{this._id}}</label>
                    
                    <div class="todo__title" contenteditable spellcheck="false">
                        {{this.title}}
                    </div>
                    <div class="todo__created">
                        Skapad:<span class="todo__created-date">{{this.createdAt}}</span>
                        <div class="todo__users">
                            <div class="todo__created-by">
                                <span class="todo__created-by__name">{{this.createdBy}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="todo__updated">Uppdaterad:<span class="todo__lastUpdate"> {{this.lastUpdate}}</span><span>Av</span>
                    </div>
                    
                </div>
                
                
                <ul class="todo__list">
                    {{#each this.items}}
                        <li class="todo__item">
                            <input class="todo__item-check" type="checkbox" {{#if this.isDone}}checked="checked"{{/if}}>

                            <div class="todo__item-description" contenteditable spellcheck="false">
                                {{this.text}}
                            </div>
                            <select class="todo__assignedTo">
                                {{#if this.assignedTo}}
                                        <option value={{this.assignedTo}}>{{this.assignedTo}}</option>
                                    {{else}}
                                        <option style="border-bottom: 1px solid black;" value="">Ej tilldelad </option>
                                {{/if}}
                                {{#each ../../users}}
                                    <option value={{this}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <span class="fa fa-trash todo__item-delete"></span>
                        </li>
                    {{/each}}
                </ul>
                <div class="todo__button-container">
                    <button class="todo__update button-secondary button-secondary--success" id="todo__save" data-id={{this._id}}> <span class="fa fa-save"></span> Spara</button>
                    {{!-- <button class="todo__edit button-secondary button-secondary--secondary" data-id={{this._id}}><span class="fa fa-pencil"></span> Editera</button> --}}
                    <button class="todo__delete button-secondary button-secondary--danger" data-id={{this._id}}><span class="fa fa-trash"></span> Radera lista</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>

    $(document.body).on('click', e => {
        var target = $(e.target);
        if(target.hasClass('todo__item-delete')) {
            $(e.target).parent('.todo__item').remove();
        }
    });

    $('.todo__title').first().on('click', function() {
        const currval = $(this).text();
        if(currval.toUpperCase() == "Skapa ny lista".toUpperCase()) {
            $(this).text('');
        } else {
            console.log(currval);
        }
    });

    // Lyssna efter enter-tryck
    $(document.body).on('keyup', e => {
        if(e.keyCode == 13){
            $(e.target).text($(e.target).text().substr(0, $(e.target).text().length));
            $(e.target).parent('.todo__item').next().find('.todo__item-description').focus();
        }
    })

    // Input i genererade textfält
    $(document.body).on('input', e => {
        var target = $(e.target);

        if (target.hasClass('todo__item-description')) {

            if(target.text() !== "") {
                target.removeClass('empty');
            } else {
                target.addClass('empty');
            }

            const list = target.parents('.todo__list-container');

            if($(list).find('.empty').length == 0) {
                $(list).find('.todo__list').append(`
                    <li class="todo__item">
                        <input type="checkbox" class="todo__item-check-new">
                        <div class="todo__item-description todo__description-new empty" placeholder="Beskrivning" contenteditable spellcheck="false"></div>
                        <select class="todo__assignedTo">
                            <option value="">Ej tilldelad </option>
                            {{#each users}}
                                <option value={{this}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <span class="fa fa-trash todo__item-delete"></span>
                    </li>
                `);
            }
        }
    });

    // UPPDATERA EXISTERANDE LISTA
    $('.todo__update').on('click', e => {
        e.preventDefault();
        const id = $(e.target).data('id');

        const list = $(e.target).parents('.todo__list-container');


        var items = [];
        list.find('.todo__item').each((index, val) => {
            items.push({
                text: $(val).find('.todo__item-description').text(),
                assignedTo: $(val).find('.todo__assignedTo').val(),
                isDone: $(val).find('.todo__item-check').is(':checked')
            });
        });

        var newList = {
            title: list.find('.todo__title').text(),
            //createdDate: list.find('.todo__created').val(),
            lastUpdate: new Date(),
            createdBy: $('#user').text(),
            items
        };

        $.ajax({
            method: "PUT",
            url: `/api/todo/${id}`,
            contentType: "application/json",
            data: JSON.stringify(newList),
            success: doc => {
                window.location.href = "/dashboard/todo";
            },
            error: err => {
                alert(err);
            }
        });
    });

    // TA BORT LISTA
    $('.todo__delete').on('click', e => {
        e.preventDefault();


        if(confirm('Är du säker på att du vill radera listan?')){

            const id = $(e.target).data('id');

            $.ajax({
                method: "DELETE",
                url: `/api/todo/${id}`,
                success: (result) => {
                    console.log("Removed list");
                    window.location.href = "/dashboard/todo";
                },
                error: err => {
                    alert(err.message);
                    console.log(" Skit på dig",err.error);
                }
            });
        } else {
            return false;
        }
    });

    // NY LISTA
    $('#todo__add').on('click', (e) => {
        e.preventDefault();

        const target = $(e.target).parents('.todo__list-container');

        var items = [];
        target.find('.todo__item').each((index, val) => {
            items.push({
                text: $(val).find('.todo__item-description').text(),
                assignedTo: $(val).find('.todo__assignedTo').val(),
                isDone: $(val).find('.todo__item-check').is(':checked')
            });
        });

        var newList = {
            title: target.find('.todo__title').text().trim(),
            createdDate: new Date(),
            createdBy: $('#user').text(),
            items
        };

        $.ajax({
            method: "POST",
            contentType: "application/json",
            url: "/api/todo",
            data: JSON.stringify(newList),
            success: (result) => {
                window.location.href = "/dashboard/todo";
            },
            error: err => {
                alert("Något gick fel när jag försökte spara sidan. Refresha och se vad som händer ☻");
            }
        });
    })
</script>